In [1]:
10-3

7

Its the first day

Run: Shift + Enter

Insert Code Cell Below: B

Insert Code Cell Above: A

Come out of the code cell : Esc

In [2]:
"First Day"

'First Day'

In [3]:
num1 = 10
num2 = 30

# division :

res = num2 / num1
print(res)

3.0

In [4]:
num1
num2

30

In [5]:
print(num1)
print(num2)

10
30

You are an elite code and you have to do the automation task:

In [6]:
# Data Types :

1. String = '' / ""

SyntaxError: invalid syntax (<ipython-input-6-873a8d3b14e7>, line 3)

In [ ]:
a = "python"
b = 'new'

In [ ]:
a

In [ ]:
b

In [ ]:
 # 2. Number 
    
int_1 = 10
int_2 = 6

float_1 = 10.33
float_2 = 69.96

c_1 = 5 + 3j
c_2 = -5j

In [ ]:
# 3. list/tuple/set - Sequence of elements of different data types

a1 = [3, True, "p1"]

In [ ]:
# 4. Boolean

True #TRUE not allowed. Case Sensitive
False

In [ ]:
#5. Mapping : dictionary : {key : value}

d1 = {1 : "N", 2 : "V"}

In [ ]:
d1[2]

# How to write variables

1. no number to start
2. no full stop (.)
3. No seperators :
4. no spaces
5. No keywords

In [ ]:
# keyw

In [ ]:
city = "Delhi"
city

In [ ]:
variable1 = "Kolkata elections"

In [ ]:
_variable1 = "Kolkata Elections"

In [ ]:
12_variable1 = "Test"

In [ ]:
variable.1 = "Kolkata Elections"

In [ ]:
variable 1 = "Kolakta Elections"

In [ ]:
v = 39403534444454034354398540958495849540958340958349583958304958390458304958349580349584358304958340583495340583405345935345

In [ ]:
# relational : compare 2 variables

2 > 10

In [ ]:
print(10==10)
print(10>=20)

In [ ]:
# Logical : and, or, not

In [ ]:
print(10>20 and 20>30)

In [ ]:
not(10>30)

In [ ]:
print(10<20 or 20>30)

In [ ]:
10 / 2 + 6 * 3 - 1

In [ ]:
10 / 2 + 6 * 3**3 - 1

In [ ]:
# ** exp power
# // integer div

In [ ]:
10 / 3

In [ ]:
10 // 3

In [ ]:
3 ^ 100  #XOR Operation

In [ ]:
print("this is the first line \n second line  \t  tabular space added")

## Strings

In [ ]:
# Strings : Collections / Sequence of Characers

In [ ]:
# Comment 1

In [ ]:
"""
Multi Line 
Comments
can be written like this
"""

In [ ]:
#docstring : purpose of module or program 
"""this class is covered for hospitilization registration only"""

In [7]:
# Take Inputs : input

name = input("Write Name: ")

Write Name: Nitish