# Day 4

## List and Tuple

In [1]:
# Mutable and Immutable

# List
* Collection of elements of different data types
* it can be any size
* represented by []
* mutable - modify any element at any tume at any position

In [10]:
listName = [3, -6.6, "A", [6, 9 ,0], "April", False]
listName

[3, -6.6, 'A', [6, 9, 0], 'April', False]

In [5]:
# length
len(listName)

6

In [15]:
# index
listName[3]

[6, 9, 0]

In [16]:
listName[3][1]

9

In [17]:
# Extract False
listName[len(listName)]

IndexError: list index out of range

In [12]:
# Concate (+)
listName + ["i", 'o']

[3, -6.6, 'A', [6, 9, 0], 'April', False, 'i', 'o']

In [13]:
# Repeatition (*)

l_1 = [5, 6]
l_1 * 2

[5, 6, 5, 6]

In [ ]:
# Slicing : extracting elements from list

#[startIndex : end : stepsize]

In [18]:
listName

[3, -6.6, 'A', [6, 9, 0], 'April', False]

In [21]:
listName[2:5:1]

['A', [6, 9, 0], 'April']

In [22]:
#Extract Below
listName[1 :  : 2]

[-6.6, [6, 9, 0], False]

In [26]:
listName[ : :-1]

[False, 'April', [6, 9, 0], 'A', -6.6, 3]

## List Operations

In [27]:
listName = [3, -6.6, "A", [6, 9 ,0], "April", False]
listName

[3, -6.6, 'A', [6, 9, 0], 'April', False]

In [30]:
print(4 in listName)
print(False in listName)

False
True

## modify / update / replace
## remove
## insert
## append

In [36]:
#Append - Adding an element to the end of the list
listName.append(99)

In [37]:
listName

[3, -6.6, 'A', [6, 9, 0], 'April', False, 99, 99, 99]

In [38]:
listName = [3, -6.6, "A", [6, 9 ,0], "April", False]
listName

[3, -6.6, 'A', [6, 9, 0], 'April', False]

In [39]:
#Update
listName[4] = "Updated One"   #[-2]

In [40]:
listName

[3, -6.6, 'A', [6, 9, 0], 'Updated One', False]

In [41]:
listName[4] = 100 + 100j   #[-2]

In [42]:
listName

[3, -6.6, 'A', [6, 9, 0], (100+100j), False]

In [43]:
#Insert
listName = [3, -6.6, "A", [6, 9 ,0], "April", False]
listName

[3, -6.6, 'A', [6, 9, 0], 'April', False]

In [44]:
listName.insert(1, 100)

In [45]:
listName

[3, 100, -6.6, 'A', [6, 9, 0], 'April', False]

In [46]:
listName.insert(5, 99.99)

In [47]:
listName

[3, 100, -6.6, 'A', [6, 9, 0], 99.99, 'April', False]

In [48]:
# [1, 0]
listName = [3, -6.6, "A", [6, 9 ,0], "April", False]

In [50]:
listName.insert(2, [1,0])

In [51]:
listName

[3, -6.6, [1, 0], 'A', [6, 9, 0], 'April', False]

In [53]:
listName[2].insert(1, 99)

In [54]:
listName

[3, -6.6, [1, 99, 0], 'A', [6, 9, 0], 'April', False]

### Remove

In [55]:
listName = [3, -6.6, "A", [6, 9 ,0], "April", False]
listName

[3, -6.6, 'A', [6, 9, 0], 'April', False]

In [56]:
listName.remove(3)

In [57]:
listName

[-6.6, 'A', [6, 9, 0], 'April', False]

In [58]:
listName.remove(100)

ValueError: list.remove(x): x not in list

### Remove : Removes the element by taking "value" as input. It only removed the first occurance of element

In [60]:
listName = [3, -6.6, "A", [6, 9 ,0], "April", False]
listName

[3, -6.6, 'A', [6, 9, 0], 'April', False]

In [63]:
# Delete : Deleted using index

In [61]:
del listName[3]

In [62]:
listName

[3, -6.6, 'A', 'April', False]

In [64]:
listName.pop()

False

In [69]:
listName = [3, -6.6, "A", [6, 9 ,0], "April", False]
listName

[3, -6.6, 'A', [6, 9, 0], 'April', False]

In [70]:
listName.count(3)

1

In [71]:
listName.reverse()

In [72]:
listName

[False, 'April', [6, 9, 0], 'A', -6.6, 3]

In [75]:
listName2 = [6, 0 , 8 , -3, 100]

In [76]:
listName2.sort()

In [77]:
listName2

[-3, 0, 6, 8, 100]

In [78]:
listName2.sort(reverse = True)

In [84]:
listName2

[100, 8, 6, 0, -3]

In [83]:
listNam2.index("A")

NameError: name 'listNam2' is not defined

In [85]:
18 // 6

3

In [86]:
6 * 2

12

In [87]:
18 / 6

3.0

In [88]:
19 // 6

3

## Tuple

Tuple: 
* Collection of elements of different data types
* it can be any size
* represented by []
* immutable - elements can't be modified

In [89]:
tupName = [3, -6.6, "A", [6, 9 ,0], "April", False]
tupName

[3, -6.6, 'A', [6, 9, 0], 'April', False]

In [ ]:
# length
# concat
# repeat
 sli

# MISSING - Big Basket

In [90]:
tupName = [3, -6.6, "A", [6, 9 ,0], "April", False]
tupName

[3, -6.6, 'A', [6, 9, 0], 'April', False]

In [ ]:
# Remove "April Month"

In [91]:
tupName.remove("'April'")

In [92]:
tupeName

NameError: name 'tupeName' is not defined

In [93]:
tupName[0 : 4] + tupName[5 : ]

[3, -6.6, 'A', [6, 9, 0]]

In [97]:
tupName[0 : 4] : tupName[-1 : -2 : -1]

# LOOPS

In [ ]:
for(int i = 0; i <=0; i++)

In [ ]:
range(1, 10)          # range(start, end)   # end follows <, not (<=)

In [98]:
range(1, 10)

range(1, 10)

for iterator in range(start, end) : 
    statments

In [99]:
listName

[False, 'April', [6, 9, 0], 'A', -6.6, 3]

In [100]:
for i in range(0, len(listName)) :
    print(listName[i])

False
April
[6, 9, 0]
A
-6.6
3

In [101]:
for i in listName :
    print(i)

False
April
[6, 9, 0]
A
-6.6
3

In [103]:
for i in range(0, len(listName)) : 
    print(listName[i], end = "  ")

False  April  [6, 9, 0]  A  -6.6  3

In [ ]:
# Pattern operation

$
$$
$$$
$$$$
$$$$$

In [106]:
for i in range(0, 6) :
    print("$" * i)

$
$$
$$$
$$$$
$$$$$